$accent-color:         #FF9800;
$primary-text-color:   #212121;

@import '~@angular/material/theming';
@include mat-core();
$pragma-app-primary: mat-palette($mat-light-blue);
$pragma-app-accent: mat-palette($mat-orange);
$pragma-app-warn: mat-palette($mat-red);
$pragma-app-theme: mat-light-theme($pragma-app-primary, $pragma-app-accent, $pragma-app-warn);

@include angular-material-theme($pragma-app-theme)
