<ng-container *ngIf="!isUpdate; else isUpdateForm">
  <form *ngIf="!isUpdate" [formGroup]="form">
    <input-form [placeholder]="'Name'" [control]="name"></input-form>
    <input-form [placeholder]="'Last name'" [control]="lastName"></input-form>
    <input-form [placeholder]="'Email'" [type]="'email'" [control]="email"></input-form>
    <input-form [placeholder]="'Username'" [control]="username"></input-form>
    <input-form [placeholder]="'Password'" [type]="'password'" [control]="password"></input-form>
    <input-form [placeholder]="'Confirmation password'" [type]="'password'" [control]="confirmationPass"></input-form>
  </form>
</ng-container>

<ng-template #isUpdateForm>
  <form [formGroup]="form">
    <input-form [placeholder]="'Name'" [control]="name"></input-form>
    <input-form [placeholder]="'Last name'" [control]="lastName"></input-form>
    <input-form [placeholder]="'Email'" [type]="'email'" [control]="email"></input-form>
    <input-form [placeholder]="'Username'" [control]="username"></input-form>
    <div class="helper-span" (click)="showPassword()"> <strong>+ ChangePassword</strong></div>
    <br>
    <ng-container *ngIf="isUpdatePass$ | async">
      <div class="content">
        <input-form [placeholder]="'Password'" [type]="'password'" [control]="password"></input-form>
        <input-form [placeholder]="'Confirmation password'" [type]="'password'"
                    [control]="confirmationPass"></input-form>
      </div>
    </ng-container>
  </form>
</ng-template>

