<mat-form-field>

  <mat-select [placeholder]="label" [formControl]="control">
    <mat-option *ngFor="let option of options" [value]="option[value]">
      {{option[property]}}
    </mat-option>
  </mat-select>

</mat-form-field>
