<app-card>
  <div class="title">
    {{task.name}}
  </div>
  <div class="subtitle">
    {{project.name}}
  </div>
  <div class="content">
    <app-task-form [isUpdate]="true"></app-task-form>
  </div>
  <div class="actions">
    <button mat-button (click)="saveTask()" [disabled]="!(form.isValid$ | async)">Save</button>
  </div>
</app-card>
