@import "../abstracts/variables";
@import "../themes/theme";
.helper-span {
  font-size: 12px;
  color: $accent-color;
}
.helper-span:hover{
  cursor: pointer;
}

body::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
