<ng-container *ngFor="let project of projects">
  <app-card>
    <div class="title">
      {{project.name}}
    </div>
    <div class="content">
      <mat-list>
        <ng-container *ngFor="let task of tasks">
          <ng-container *ngIf="task.project.id == project.id">
            <mat-list-item>
              <div>{{task.name}}</div>
              <div></div>
              <button mat-icon-button color="primary" matTooltip="Show task" (click)="goToDetails(task.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
  </app-card>
  <br>
</ng-container>
