<mat-form-field>
  <input matInput #input [matDatepicker]="datePicker" [placeholder]="name" [formControl]="control">
  <mat-error>
    {{error}}
  </mat-error>
  <mat-datepicker-toggle matSuffix [for]="datePicker "></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
