@import "../abstracts/variables";
.search{
  display: inline-grid;
  grid-template-columns: 10% 90%;
  width: 100%;

  & button{
    display: flex;
    padding: 0;
  }
}

.title-header{
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;

  & h1 {
    margin: 0;
  }
}

mat-list-item>div {
  display: inline-grid !important;
  grid-template-columns: 60% 20% 20% !important;
  width: 100%;

  & .options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: $brakePoint-Phone){
  .title-header {
    grid-template-columns: 70% 30%;
  }
}

@media screen and (max-height: $brakePoint-Tablet) {
  mat-list-item>div {
    display: inline-grid !important;
    grid-template-columns: 90% 0 10% !important;
    width: 100%;

    & .options {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.5rem;
    }
  }
}
