<app-card>
  <div class="title">
    Login
  </div>
  <div class="content">
    <form [formGroup]="form">
      <input-form [control]="username" [placeholder]="'Username'"></input-form>
      <input-form [control]="password" [placeholder]="'password'" [type]="'password'"></input-form>
      <button mat-button (click)="login()" [disabled]="form.invalid">Login</button>
    </form>
  </div>
</app-card>
