<mat-form-field>
  <input matInput [type]="type" [placeholder]="placeholder" [formControl]="control">
  <button mat-button *ngIf="control.value && withClear" (click)="clear()" matSuffix mat-icon-button>
    <mat-icon>clear</mat-icon>
  </button>
  <mat-error>
    {{error}}
  </mat-error>
</mat-form-field>
