<app-card mat-dialog-content>
  <div class="title">
    New task
  </div>
  <div class="content">
    <app-task-form></app-task-form>
  </div>
  <div class="actions">
    <button mat-button (click)="saveTask()" [disabled]="form.form.invalid">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
</app-card>
