<form [formGroup]="form">
  <input-form [placeholder]="'name'" [control]="name"></input-form>
  <app-date-picker [id]="'limitDate'" [name]="'limitDate'" [control]="limitDate"></app-date-picker>
  <app-select [value]="'id'" [property]="'name'" [control]="projectId" [label]="'project'"
              [options]="projects"></app-select>
  <h4>{{comments.controls.length > 0 ? 'Comments:' : 'No Comments'}}</h4>
  <ng-container *ngIf="comments.controls.length>0">
    <div *ngFor="let control of comments.controls; let i = index" class="comment-form">
      <input-form [withClear]="true" [placeholder]="'comentario'+(i+1)" [control]="control"></input-form>
      <button mat-button color="primary" (click)="removeComment(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </ng-container>
  <br>
  <div class="helper-span" (click)="addComment()">Add new comment</div>
</form>
