<!--The content below is only a placeholder and can be replaced.-->

<nav class="logo" [ngSwitch]="(auth.isLogged$ | async)">
  <ng-container *ngIf="!(auth.isLogged$ | async); else login">
    <a routerLink="/home" id="home" routerLinkActive="nav-active"> <mat-icon color="primary">home</mat-icon><span>Home</span></a>
  </ng-container>
  <ng-template #login>
    <a routerLink="/home" routerLinkActive="nav-active"> <mat-icon color="primary">home</mat-icon><span>Home</span></a>
    <a routerLink="/projects" routerLinkActive="nav-active"> <mat-icon color="primary">work</mat-icon><span>Projects</span></a>
    <a id="profile" [routerLink]="auth.getProfileRoute()" routerLinkActive="nav-active"> <mat-icon color="primary">person</mat-icon> <span>Profile</span></a>
    <a (click)="logout()" id="logout"> <mat-icon color="primary">exit_to_app</mat-icon > <span>Logout</span></a>
  </ng-template>
</nav>
<section>
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>

</footer>
