<mat-card>
  <mat-card-title>
    <ng-content select=".title"></ng-content>
  </mat-card-title>
  <mat-card-subtitle>
    <ng-content select=".subtitle"></ng-content>
  </mat-card-subtitle>
  <mat-card-content>
    <ng-content select=".content"></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <ng-content select=".actions"></ng-content>
  </mat-card-actions>
  <mat-card-footer>
    <ng-content select=".footer"></ng-content>
  </mat-card-footer>
</mat-card>
