<app-card>
  <div class="title">
    Profile
  </div>
  <div class="subtitle">
    {{user.username}}
  </div>
  <div class="content">
    <app-user-form [isUpdate]="true"></app-user-form>
  </div>
  <div class="actions">
    <button (click)="updateUser()" [disabled]="!(form.isValidForm$ | async)" mat-button>Save</button>
  </div>
</app-card>
