@import "../abstracts/variables";

.mat-card-actions, .mat-card-content{
  margin-bottom: 0 !important;
}

mat-card{
  max-width: 70vw;
}

@media screen and (max-width: $brakePoint-Phone) {
  mat-card {
    max-width: 90vw;
    margin: 0;
  }
}
