@import "../abstracts/variables";

.mat-dialog-container {
  max-height: 80vh !important;
}

@media screen and (max-width: $brakePoint-Phone){
  .cdk-overlay-pane {
    max-width: 95vw !important;
  }
  mat-dialog-container {
    padding: 0 !important;
    max-width: 95vw;
    max-height: 90vh;
  }

  .mat-dialog-content, .mat-dialog-title, .mat-dialog-actions {
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto !important;
  }

  .mat-dialog-title{
    padding: 24px 0 0 24px;
  }

  .mat-dialog-actions {
    padding: 0 0 24px;
  }
}
