@import "../abstracts/variables";

@media screen and (max-width: $brakePoint-Phone){
  footer{
    height: $footerHeight;
    width: 100%;
    background-position: center;
    background-image: url("/assets/pragmaLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
  }
}
