@import "../themes/theme";
@import "../abstracts/variables";

nav{
  height: $navHeight;
  width: 100%;
  display: flex;
  align-items: center;

  & a{
    width: 10%;
    text-align: center;
    color: $primary-text-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.logo {
  background-image: url("/assets/pragmaLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: calc(#{$navHeight} * 80%);
  width: 100%;
}

#home{
  min-width: 100px;
  &:hover{
    cursor: pointer;
  }
}

#logout{
  position: absolute;
  right: 0;
  min-width: 100px;
  &:hover{
    cursor: pointer;
  }
}

.nav-active{
  border-bottom: 5px solid $accent-color;
}

@media screen and (max-width: $brakePoint-Tablet) {
  nav > a{
    font-size: 0.8rem;
    & .mat-icon {
      display: none;
    }
  }
}

@media screen and (max-width: $brakePoint-Phone) {
  nav > a {
    width: 20%;
  }

  .logo{
    background-image: none;
  }

  #logout, #home {
    font-size: 0.8rem;
  }

}
