@import "../abstracts/variables";
@import "../themes/theme";

nav+section{
  height: calc(100vh - #{$navHeight});
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  & > .component-container {
    width: 70%;
    height: calc(100vh - #{$navHeight});
    margin: 0 auto;
  }
}

@media screen and (max-width: $brakePoint-Phone){
  nav+section{
    height: calc(100vh - #{$footerHeight} - #{$navHeight});
    & > .component-container{
      width: 95%;
      margin: 0 auto;
      height: 100%;
    }
  }
}
