<app-card mat-dialog-content>
  <div class="title">
    Register
  </div>
  <div class="content">
    <app-user-form></app-user-form>
  </div>
  <div class="actions">
    <button mat-button (click)="signUp()" [disabled]="form.form.invalid">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
</app-card>
