<app-loginform *ngIf="!(auth.isLogged$ | async)"></app-loginform>
<button id="registerButton" mat-button *ngIf="!(auth.isLogged$ | async)" (click)="openDialog()">Register</button>
<ng-container *ngIf="(auth.isLogged$ | async)">
  <div class="title-header">
    <h1>
      Tasks
    </h1>
    <button mat-raised-button color="accent" (click)="addTask()">ADD</button>
  </div>
  <app-card>
    <div class="content">
      <form [formGroup]="searchForm" class="search-form">
        <div class="search">
          <button mat-button color="primary" (click)="findTask()">
            <mat-icon>search</mat-icon>
          </button>
          <input-form [withClear]="true" (clearEvent)="cleanSearch()" [placeholder]="'Search'"
                      [control]="search"></input-form>
        </div>
      </form>
      <mat-list>
        <ng-container *ngFor="let task of tasks">
          <mat-list-item class="list">
            <div>
              <h4 mat-line>{{task.name}}</h4>
              <p mat-line>Limit date: {{task.limitDate}}</p>
            </div>
            <div>
              <p mat-line>{{task.complete ? 'Complete' : 'incomplete'}}</p>
            </div>
            <div class="options" *ngIf="!isPhone; else menuOptions">
              <button *ngIf="!task.complete" mat-icon-button color="primary" matTooltip="Complete task"
                      (click)="completeTask(task.id)">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Delete task" (click)="removeTask(task.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Show task" (click)="goToDetails(task.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
            <ng-template #menuOptions>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon color="primary">more_vert</mat-icon>
              </button>
              <mat-menu #menu>
                <button *ngIf="!task.complete" mat-menu-item color="primary" matTooltip="Complete task"
                        (click)="completeTask(task.id)">
                  <mat-icon>done</mat-icon>
                  complete
                </button>
                <button mat-menu-item color="primary" matTooltip="Delete task" (click)="removeTask(task.id)">
                  <mat-icon>delete</mat-icon>
                  delete
                </button>
                <button mat-menu-item color="primary" matTooltip="Show task" (click)="goToDetails(task.id)">
                  <mat-icon>remove_red_eye</mat-icon>
                  show
                </button>
              </mat-menu>
            </ng-template>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </app-card>
</ng-container>

